    head {
       
        background-color:rgb(0, 60, 60);
     
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color:rgb(0, 60, 60);
        margin: -30px;
        padding: 30px;
        overflow-x: hidden;

    }
    
    .whole {
        height: min-content;
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;  background-color:rgb(0, 60, 60);
    }
    
    #header {
        height: min-content;
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 20px;
        background-color:rgb(0, 60, 60);
        
    }
    
    #header1{
        cursor: pointer;
        background-color:rgb(0, 60, 60);
    }
    .cut {
        display: flex;
        justify-content: left;
        margin-top: 20 px;
        font-size: 30px;
        margin-left: 100px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .discover {
        display: flex;
        justify-content: center;
        margin-top: -25.9px;
        margin-left: 350px;
        flex-wrap: wrap;
        cursor: pointer;
        
    
        
    }
    
    .guide {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -100px;
        margin-top: -17.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .resource {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -225px;
        margin-top: -18px;
        flex-wrap: wrap;
        cursor: pointer;

    }
    
    .compfire {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -350px;
        margin-top: -18.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .community {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -490px;
        margin-top: -18.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
 
    
    button {
        display: flex;
        flex-wrap: wrap;
        background-color: #00DC82;
        height: 40px;
        width: 105px;
        border-color: #00DC82;
        border: 5px solid rgb(230, 230, 141);
        border-radius: 25px;
        outline: none;
        border: color yellow;
        box-shadow: 0 0 10px #9ecaed;
        margin-left: 1100px;
        margin-top:-30.5px;
        cursor: pointer;
        padding: 7px;
    }
    
    .button>button>.btext {
        margin-top: 6px;
        margin-left: 10px;
    }
    
    .about {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        font-size: x-large;
        margin-top: 100px;
        margin-bottom: -350px;
        margin-left: 150px;
        
    }
    
    .about>.text {
        font-size: large;
        margin-left: -140px;
        margin-top: 120px;
    }
    
    .about>.text>.d {
        margin-top: 20;
    }
    
    .TitleImg {
        display: flex;
        margin-left: 700px;
        margin-top: -250px;
        border-radius: 50%;
        width: 300px;
        border: 3px dotted green;
    }
    
    .TitleImg:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle1 {
        display: flex;
        background-color: #E5F0F1;
        margin-top: 380px;
        height: 100px;
        width: 1470px;
        margin-left: -30px;
        flex-wrap: wrap;
        
    }
    
    .middle1>.Images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width: 80%;
        max-width: 1080px;
        margin-left: 130px;
        margin-top: 70px;
        
    }
    
    .middle1>.Images>.image1 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle1>.Images>.image1:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle1>.Images>.image1>.img1text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        justify-content: inherit;
    }
    
    .middle1>.Images>.image1>.img1text>.img1link {
        margin-top: 20px;
        margin-left: 50px;
        
    }
    
    .middle>.Images>.image1>.img1text>.img1link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
    
    .middle1>.Images>.image2 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle1>.Images>.image2:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle1>.Images>.image2>.img2text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        align-items: center;
    }
    
    .middle1>.Images>.image2>.img2text>.img2link {
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .middle1>.Images>.image2>.img2text>.img2link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
    
    .middle1>.Images>.image3 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle1>.Images>.image3-border {
        border: 2px solid #dadada;
        border-radius: 7px;
    }
    
    .middle1>.Images>.image3:focus {
        outline: none;
        border: color #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    
    .middle1>.Images>.image3:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle>.Images>.image3>.img3text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .middle1>.Images>.image3>.img3text>.img3link {
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .middle1>.Images>.image3>.img3text>.img3link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }

    
    .middle2{
        display: flex;
        background-color: #E5F0F1;
        margin-top: 0px;
        height: 1500px;
        width: 1563px;
        margin-left: -150px;
        flex-wrap: wrap;
        margin-left: -160px;
    }

    .middle2>.animation{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 80%;
        max-width: 1080px;
        margin: auto;
        margin-top: 900px;
        position: relative;
        animation-name: example;
        animation-duration: 7s;
        
    }
    @keyframes example {

        0%   {background-color:#E5F0F1;; left:-20px; top:0px;}
        25%  {background-color:#E5F0F1;; left:200px; top:0px;}
      
        100% {background-color:#E5F0F1; left:0px; top:0px;}
      }
    
    .middle2>.animation>.m2title{
        display: flex;
        flex-wrap: wrap;
        margin-top: -300px;
        color: #000;
    }
    .middle2>.animation>.para{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -220px;
        margin-right: 20px;
        flex-wrap: wrap;
        color: #000;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
    }
    .middle2>.animation>.a1{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -50px;
        margin-right: 20px;
        flex-wrap: wrap;
    } 
    .middle2>.animation>.a2{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -50px;
        margin-left: 20px;
        flex-wrap: wrap;
      
    } 
    .middle2>.animation>.a3 {
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -50px;
        margin-left: 40px;
        flex-wrap: wrap;
    }

    .middle2>.animation>.a4{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -250px;
        margin-left: 870px;
        flex-wrap: wrap;
    } 

    .middle2>.animation>.a5{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: 50px;
        margin-left: 120px;
        flex-wrap: wrap;
    } 

    .middle2>.animation>.a6{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: 50px;
        margin-left:70px;
        flex-wrap: wrap;
    } 
    
    .middle2>.animation>.a7{
        display: flex;
        border: #04003F;
        border-radius: 8px;
        margin-top: -250px;
        margin-left:750px;
        flex-wrap: wrap;
    } 

     .footer {
        display: flex;
        background-color:rgb(0, 60, 60);
        margin-top: 0px;
        height: 300px;
        width: 1348px;
        margin-left: 100px;
        flex-wrap: wrap;
    }

    .footer>.mission{

        margin-top: 20px;
        margin-left: 20px;
    }

    .footer>.vision{

    margin-top: 150px;
    margin-left: -330px;
    
    }

    
    .footer>.Email{

        margin-top: 20px;
        margin-left: 330px;
        
        
        }

        
    .footer>.Contact{

        margin-top: -130px;
        margin-left: 730px;
        
        }