    head {
        height: fit-content;
        width: fit-content;
    }
    
    body {
        
        height: min-content;
        width: auto;
        background-color: rgb(0, 60, 60);
        vertical-align: baseline;
    }
    
    .whole {
        height: min-content;
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    #header {
        height: min-content;
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 20px;
        
    }
    
    #header1{
        cursor: pointer;
    }
    .cut {
        display: flex;
        justify-content: left;
        margin-top: 20 px;
        font-size: 30px;
        margin-left: 100px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .discover {
        display: flex;
        justify-content: center;
        margin-top: -25.9px;
        margin-left: 350px;
        flex-wrap: wrap;
        cursor: pointer;
        
    
        
    }
    
    .guide {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -100px;
        margin-top: -17.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .resource {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -225px;
        margin-top: -18px;
        flex-wrap: wrap;
        cursor: pointer;

    }
    
    .compfire {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -350px;
        margin-top: -18.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .community {
        display: flex;
        align-content: flex-end;
        justify-content: right;
        margin-right: -490px;
        margin-top: -18.5px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
 
    
    button {
        display: flex;
        flex-wrap: wrap;
        background-color: #00DC82;
        height: 40px;
        width: 105px;
        border-color: #00DC82;
        border: 5px solid rgb(230, 230, 141);
        border-radius: 25px;
        outline: none;
        border: color: yellow;
        box-shadow: 0 0 10px #9ecaed;
        margin-left: 1250px;
        margin-top:-30.5px;
        cursor: pointer;
        padding: 7px;
    }
    
    .button>button>.btext {
        margin-top: 6px;
        margin-left: 10px;
    }
    
    .about {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        font-size: x-large;
        margin-top: 100px;
        margin-bottom: -350px;
        margin-left: 150px;
        
    }
    
    .about>.text {
        font-size: large;
        margin-left: -140px;
        margin-top: 120px;
    }
    
    .about>.text>.d {
        margin-top: 20;
    }
    
    .TitleImg {
        display: flex;
        margin-left: 700px;
        margin-top: -250px;
        border-radius: 50%;
        width: 300px;
        border: 3px dotted green;
    }
    
    .TitleImg:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle {
        display: flex;
        background-color: #E5F0F1;
        margin-top: 380px;
        height: 1000px;
        width: auto;
        margin-left: -7px;
        flex-wrap: wrap;
        
    }
    
    .middle>.Images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width: 80%;
        max-width: 1080px;
        margin: auto;
        margin-top: 70px;
        
    }
    
    .middle>.Images>.image1 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle>.Images>.image1:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle>.Images>.image1>.img1text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        justify-content: inherit;
    }
    
    .middle>.Images>.image1>.img1text>.img1link {
        margin-top: 20px;
        margin-left: 50px;
        
    }
    
    .middle>.Images>.image1>.img1text>.img1link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
    
    .middle>.Images>.image2 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle>.Images>.image2:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle>.Images>.image2>.img2text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        align-items: center;
    }
    
    .middle>.Images>.image2>.img2text>.img2link {
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .middle>.Images>.image2>.img2text>.img2link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
    
    .middle>.Images>.image3 {
        border: 5px solid rgb(230, 230, 141);
        border-radius: 7px;
        background-color: #04003F;
        width: 250px;
        height: 450px;
        border-radius: 25px;
        padding: 2px;
        outline: none;
        border: color #195e96;
        box-shadow: 0 0 200px #9ecaed;
    }
    
    .middle>.Images>.image3-border {
        border: 2px solid #dadada;
        border-radius: 7px;
    }
    
    .middle>.Images>.image3:focus {
        outline: none;
        border: color #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    
    .middle>.Images>.image3:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    
    .middle>.Images>.image3>.img3text {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .middle>.Images>.image3>.img3text>.img3link {
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .middle>.Images>.image3>.img3text>.img3link:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
    
    /* .footer {
        display: flex;
        background-color: #FEFFFF;
        margin-top: 0px;
        height: 1650px;
        width: 1348px;
        margin-left: -7px;
        flex-wrap: wrap;
    } */